

.productos_destacados, .combos, .productos_individuales{
    font-family: 'Montserrat', sans-serif;
    background-color: #fff0ee;
    border-radius: 2%;

    a{

        color: white;
        font-size: large;
        display: block;
        background-color: $color_botones;
       
     
        border-bottom: 1px solid #FFF;
        box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
        text-align: center;
        margin-top: 30px;
        margin-left: 90px;
        margin-right: 90px;
        margin-bottom: 30px;
        border-radius: 6px;
    
    }
}


@mixin tarjetas($radioBorde, $colorFondo, $sombra, $transicion){
    border-radius: $radioBorde;
    background: $colorFondo;
    box-shadow: $sombra;
    cursor: default;
    transition: $transicion;

    &:hover{
        box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
        transform: translateY(-3%);
    }
}

.tarjetaProducto{
    @include tarjetas(6px,$color_fondo_producto,0px 1px 10px rgba(0, 0, 0, .2),all 400ms ease);
}

.tarjetaCombo{
    @include tarjetas(30px,$color_fondo_combo,0px 1px 10px rgba(0, 0, 0, .2),all 100ms ease);
}



